<?xml version="1.0"?>
<robot name="bhand_" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

	<!-- Import all Gazebo-customization elements, including Gazebo colors -->
	<xacro:include filename="$(find bhand_description)/urdf/bh282.urdf.xacro" />

	<link name="base_link">
		<visual>
		  <origin xyz="0 0 0" rpy="0 0 0" />
		  <geometry>
			 <box size="0.001 0.001 0.001" />
		  </geometry>
		</visual>

		<collision>
		  <origin xyz="0 0 0" rpy="0 0 0" />
		  <geometry>
			<box size="0.001 0.001 0.001" />
		 </geometry>
		</collision>
	</link>

	<joint name="base_link" type="fixed">
		 <origin xyz="0 0 0" rpy="0 0 0" />
		 <parent link="base_link"/>
		 <child link="hand_base_link"/>
	</joint>

	<link name="hand_base_link"/>

	<joint name="hand_joint" type="fixed">
		 <origin xyz="0 0 0" rpy="0 0 0" />
		 <parent link="base_link"/>
		 <child link="hand_base_link"/>
	</joint>  

	<xacro:bhand_macro name="bh" parent="hand_base_link">
		<origin xyz="0 0 0" rpy="0 0 0" />
	</xacro:bhand_macro>
	
</robot>

